body {
    background-color: #363636;
    height: 100vh;
}

/* Maior prioridade na determinação de alterações acontece no estilo do elemento, quando o estilo é definido junto ao elemento*/

p { /*Para alterar os parâmetros de um elemento - 6ª maior prioridade*/
    color: red;
    margin-top: 0;
}

#par-gr { /*Para alterar os parâmetros a partir de um identificador - 2ª maior priridade*/
    color: green;
    margin-top: 0;
}

/* Pseudoclasses - 3ª maior prioridade */
/* Utilização de elemento com idetificador - 4ª maior prioridade */

.white-txt { /*Para alterar os parâmetros de uma classe - 5ª maior prioridade*/
    color: blue;
    /* color: blue!important; -> Tarja importante serve para tornar a modificação obrigratória para todos da classe*/
    margin-top: 0;
}

table.contained {
    margin: 0 15%;
    width: 70%;
}

#tab .col_1 {
    width: 50%;
}

#tab .col_2 {
    width: 30%;
}

#tab .col_3 {
    width: 20%;
    text-align:center;
}

.col_3 a {
    text-decoration: none;
    color: white;
    background-color: rgb(52, 100,212);
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    border: 2px solid rgb(29, 54, 112);
    border-radius: 4px;
    font-size: 12px;
}

.col_3 a:hover {
    background-color: rgb(29, 54, 112);
    border: 2px solid black;
}

table{
    /* border: 1px solid black; */
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    color: #f1f1f1;
}

th {
    text-align: start;
    background-color: rgb(100, 128, 220);
    padding: 8px 4px;
    color: #f1f1f1;
}

tr {
    border-bottom: 1px solid rgb(100, 128, 220);
}

tfoot tr {
    border-bottom: 0;
}

tfoot tr.sum td {
    text-align: right;
}

small {
    font-size: 12px;
}

* { /* 7ª prioridade - última */
    font-family: 'Poppins'; 
}

#lista_index{
    text-align: center;
    /* width: 15%; */
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

#lista_index li{
    display: inline;
}

#lista_index li a{
    text-decoration: none;
    color: white;
    background-color:  rgb(52, 100,212);
    padding: 4px 8px;
    display: inline;
    border: 2px solid rgb(29, 54, 112);
    border-radius: 4px;
}

#lista_index li a:hover {
    background-color: rgb(29, 54, 112);
    border: 2px solid black;
}

#index-pg {
    background-image: url("https://wallpaperbat.com/img/470954-qhd-wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
    /* html, body{
        background-color: darkseagreen;
    } */
    #lista_index {
        margin: 0 48px;
    }
    #lista_index li a {
        display: block;
        margin-bottom: 10px;
    }
}

#titulos h1, #titulos h2, #titulos h3, #titulos h4, #titulos h5, #titulos h6{
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Poppins'; 
    display: block;
    /* background-color: rgb(120, 186, 224); */
    background-image: url("https://geekblog.com.br/wp-content/uploads/2021/06/wp5602341-2-1024x576.jpg");
    background-position: top;
    background-size: cover;
    padding: 40px 0;
    /* border: 1px solid black; */
    border-radius: 8px;
    margin: 20px auto;
    width: 45%;
    box-shadow: -3px 4px 8px 5px rgba(0,0,0,0.38);
}

#forms form .label, #forms form .input {
    display: block;
    text-align: start;
}

.question {
    display: block;
    margin: 20px auto;
    background-color: #ffffff;
    width: 50%;
    border-radius: 8px;
    box-shadow: -3px 4px 8px 2px rgba(0,0,0,0.38);
    padding: 0 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.input {
    margin-top: 10px;
    border: none;
    border-bottom: 1.5px solid black;
    width: 70%;
    /* background-color: rgb(193, 229, 250); */
}

.alt {
    display: block;
    margin: 20px auto;
    text-align: start;
}

#form-pg .formul{
    background-color: rgb(120, 186, 224);;
}

#titulo-form {
    color: white;
}

.label {
    font-size: 20px;
}

#text-cor {
    display: inline-block;
}

#cor{
    display: inline-block;
    width: 70px;
    height: 70px;
}

.btn {
    border: 0;
    background-color: transparent;
    padding: 8px 16px;
    cursor:  pointer;
    border-radius: 8px;
    color: #f1f1f1;
}

.btn.btn-success{
    background-color: rgb(75, 87, 191);
}

.btn.btn-success:hover{
    background-color: rgb(100, 128, 220);
}

.btn.btn-success:active{
    background-color: rgb(54, 72, 153);
}

.btn-warning {
    color: black;
    background-color: rgb(228,209,62);
}

.btn-warning:hover {
    background-color: rgb(247,227,77);
}

.btn-warning:active {
    background-color: rgb(179,163,43);
}

.btn-danger {
    background-color: rgb(228,62,62);
}

.btn-danger:hover {
    background-color: rgb(247,77,77);
}

.btn-danger:active {
    background-color: rgb(179,43,43);
}